.artists {
  font-size: $fs-xlarge;
  line-height: 1.6em;
  text-align: justify;
  padding: 0 20px;
  position: relative;
  top: 200px;

  @include less-tablet() {
    font-size: $fs-large;
  }
  @include less-sp() {
    font-size: $fs-medium;
  }

  ul {
    margin: 1em 0;
    li {
      display: inline;
      padding-right: 1em;
      .small {
        display: inline;
        font-size: $fs-medium;

        @include less-tablet() {
          font-size: $fs-normal;
        }
      }
    }
  }
}
