
@keyframes elastic {
  0%{
    max-width: 100%;
  }

  40%{
    max-width: 320px;
  }
  50%{
    max-width: 320px;
  }

  90%{
    max-width: 100%;
  }

  100%{
    max-width: 100%;
  }
}

.elastic{
  margin: 0 auto;
  width: 100%;
  animation: elastic 180s 5s linear infinite;
}
