@keyframes elastic {
  0% {
    max-width: 100vw;
    height: 100vh;
    margin-top: 0;
  }

  //40% {
  //  max-width: 320px;
  //  height: 568px;
  //  margin-top: calc((100vh - 568px) / 2);
  //}
  50% {
    max-width: 320px;
    height: 80vh;
    margin-top: calc((100vh - 80vh) / 2);
  }

  //90% {
  //  max-width: 100vw;
  //  height: 100vh;
  //  margin-top: 0;
  //}

  100% {
    max-width: 100vw;
    height: 100vh;
    margin-top: 0;
  }
}

.elastic {
  animation: elastic 60s 5s linear infinite;
  //animation: elastic 60s 5s $easeInOutQuart infinite;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}
