@keyframes scrolling {
  0% {
    background-position-x: left;
  }

  100% {
    background-position-x: right;
  }
}

.hidden-bg {
  animation: scrolling 300s linear infinite alternate;
  background: url("/assets/images/bg.png");
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
