.introduction{
  text-align: justify;
  font-size: 36px;

  @include less-tablet(){
    font-size: 24px;
  }

  @include less-sp(){
    font-size: 18px;
  }

  line-height: 1.6em;
  p{
    margin: 1em 0;
    line-break: loose;
    >span{
      display: inline;
    }
  }
}
