.map {
  background: #ccc;
  height: 600px;
  overflow: hidden;

  width: 100%;

  &__access {
    float: right;
    width: 360px;
    h3 {
      letter-spacing: 0.25em;
      margin-top: 50%;
    }
    ul {
      font-size: $fs-small;
    }
  }

  &__gmap {
    float: left;
    width: calc(100% - 360px)z;
  }
}
