
.social {
  bottom: 0;
  font-size: $fs-normal;
  height: 40px;
  left: 0;
  line-height: 1;
  overflow: hidden;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  padding-left: 1em;

  a {
    color: $color-facebook;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    text-decoration: none;
    &:after {
      background: $color-facebook;
      bottom: -2px;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &.twitter {
      color: $color-twitter;
      &:after {
        background: $color-twitter;
      }
    }
  }
}
