.artists {
  &__list {
    li {
      display: block;
      //border-bottom: 1px solid $color-black;
      //
      line-height: 1.25em;
      padding-bottom: 0.75em;
      a {
        color: $color-black;
        text-decoration: none;
      }

      &:after {
      }
      &:last-child:after {
        content: '';
      }
    }
  }
}

.name {
  &__full {
    a{
      position: relative;
      display: inline-block;
      line-height: 1;
      background: #FFf;
    }
  }

  &__jt {
    margin-left: 0.5em;
    font-size: 0.7em;
    color: $color-dark-gray;
  }
}

