.artists {
  &__list {
    li {
      display: block;
      border-bottom: 1px solid $color-black;

      a {
        color: $color-black;
        text-decoration: none;
      }

      &:after {
        //content: ' / ';
        //padding: 0 0.5em 0 1em;
        //display: inline-block;
      }
      &:last-child:after {
        content: '';
      }
    }
  }
}

.name {
  &__full {
    a{
      position: relative;
      display: inline-block;
      line-height: 1;
      border-bottom: 4px solid $color-yellow;
    }
  }

  &__jt {
    margin-left: 0.5em;
    font-size: 0.7em;
    color: $color-dark-gray;
  }
}

