.copyright{
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  @include fontsize(13);
  @include responsive(sp){
    @include fontsize(11);
  padding: 0 10px;
  }
  a{
    color: $color-black;
  }
}
