.footer {

  &__fb,
  &__tw {
    width: 40px;
    height: 40px;
    @include fontsize(12);
    @include responsive(sp) {
      @include fontsize(13);
    }
    line-height: 40px;
    text-align: center;
    display: block;
    position: fixed;
    background: $color-black;
    color: $color-white;
    top: calc(30vh - 20px);
    left: calc(20vw - 20px);
    z-index: 5;
    border-radius: 20px;
  }
  &__fb {
    top: calc(30vh - 20px);
    left: calc(20vw - 20px);

    &:hover {
      background-color: $color-facebook;
    }
  }

  &__tw {
    top: calc(30vh - 20px);
    left: calc(75vw - 20px);
    &:hover {
      background-color: $color-twitter;
    }
  }
}

.sponsor {
  &__logo-set {
    padding: 10px;
    @include responsive(sp) {
     padding: 3px;
    }
  }

  &__logo {
    img {
      vertical-align: middle;

      &.is-tam{
        width: 76px;
        height: auto;
        @include responsive(sp) {
          width: 38px;
        }
      }

      &.is-ototoy{
        width: 100px;
        height: auto;
        @include responsive(sp) {
          width: 50px;
        }
      }
      &.is-plus{
        width: 14px;
        height: auto;
        @include responsive(sp) {
          width: 7px;
        }

      }
      &.is-bccks{
        width: 90px;
        height: auto;
        @include responsive(sp) {
          width: 45px;
        }
      }
      &.is-tambourine{
        width: 128px;
        height: auto;
        @include responsive(sp) {
          width: 64px;
        }
      }
      &.is-cbc{
        width: 56px;
        height: auto;
        @include responsive(sp) {
          width: 28px;
        }

      }

    }
  }
}
