.footer {

  &__fb,
  &__tw {
    width: 40px;
    height: 40px;
    @include fontsize(16);
    @include responsive(sp){
      @include fontsize(13);
    }
    line-height: 40px;
    text-align: center;
    display: block;
    position: fixed;
    background: $color-black;
    color: $color-white;
    top: calc(30vh - 20px);
    left: calc(20vw - 20px);
    z-index: 5;
    border-radius: 20px;
  }
  &__fb {
    top: calc(30vh - 20px);
    left: calc(20vw - 20px);

    &:hover {
      background-color: $color-facebook;
    }
  }

  &__tw {
    top: calc(30vh - 20px);
    left: calc(75vw - 20px);
    &:hover {
      background-color: $color-twitter;
    }
  }
}

.sponsor{
  &__logo{
    img.logo-tam{
      width: 100%;
      max-width: 96px;
      height: auto;
      padding: 5px;
    }
  }
}
