.intro {
  //background: #ddd;
  &__visual {
    background: #000;
    text-align: center;
    img{
      padding: 40px;
      max-width: 800px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      @include responsive(sp){
      padding: 8px;
      }
    }
  }

  &__title{
    text-align: center;
    max-width: 640px;
    width: 100%;
    padding: 40px 0 0 0;
    margin: 0 auto 0;
    line-height: 1;
    @include fontsize(13);
    &__inner{
      border-radius: 20px;
      display: inline-block;
      background: #ddd;
      padding: 0.5em;
    }
  }

  &__sub-title{
    text-align: center;
    line-height: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    @include fontsize(24);
    @include responsive(sp){
      @include fontsize(16);
    }

    background: #ccc;
    color: $color-black;
  }
}
