.js-split {
  left: 0;
  overflow-y: scroll;
  position: relative;
  top: 0;
  visibility: hidden;
  width: 100%;

  .is-ie &{
    visibility: visible;
  }

  &--duplicated {
    background: $color-gray;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    visibility: visible;
    z-index: 2;
    //border: 2px solid $color-black;

    &.is-1 {
      width: 75vw;
      height: 30vh;
      left: 0;
      top: 0;
      border-bottom: 2px solid $color-black;
    }

    &.is-2 {
      width: 25vw;
      height: 100vh;
      left: calc(75vw);
      top: 0;
      border-left: 2px solid $color-black;
    }

    &.is-3 {
      width: 20vw;
      height: 70vh;
      left:0;
      top: 30vh;
      border-right: 2px solid $color-black;
    }

    &.is-4 {
      width: 55vw;
      height: 70vh;
      left:20vw;
      top: 30vh;
    }
  }
}

.js-split__footer {
  background: $color-gray;
  border-top: 10px solid $color-white;
  bottom: -60px;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 5;
  display: none !important;
}

@keyframes spread-1-v2 {
  0% {
    width: 50%;
    //font-size: $fs-16;
  }

  20%, 25% {
    width: calc(100% - 400px);
    //font-size: $fs-22;
  }

  45%, 50% {
    width: 50%;
    //font-size: $fs-16;
  }

  70%, 75% {
    width: 400px;
    //font-size: $fs-12;
  }

  95%, 100% {
    width: 50%;
    //font-size: $fs-16;
  }
}

@keyframes spread-2-v2 {
  0% {
    width: 50%;
    left: 50%;
    //font-size: $fs-16;
  }

  20%, 25% {
    width: 400px;
    left: calc(100% - 400px);
    //font-size: $fs-12;
  }

  45%, 50% {
    width: 50%;
    left: 50%;
    //font-size: $fs-16;
  }

  70%, 75% {
    width: calc(100% - 400px);
    left: 400px;
    //font-size: $fs-22;
  }

  95%, 100% {
    width: 50%;
    left: 50%;
    //font-size: $fs-16;
  }
}

@keyframes spread-1 {
  0% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  20%, 25% {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
  }

  45%, 50% {
    width: 50%;
    height: 50%;
    top: 50%;
    left: 0;
  }

  70%, 75% {
    width: 400px;
    height: 50%;
    top: 50%;
    left: 0;
  }

  95%, 100% {
    width: 400px;
    height: 0%;
    top: 100%;
    left: 0;
  }
}

@keyframes spread-2 {
  0% {
    width: 400px;
    height: 100%;
    top: 0;
    left: calc(100%);
  }

  20%, 25% {
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
  }

  45%, 50% {
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
  }

  70%, 75% {
    width: calc(100% - 400px);
    height: 50%;
    top: 50%;
    left: 400px;
  }

  95%, 100% {
    width: calc(100% - 400px);
    height: 0%;
    top: 100%;
    left: 400px;
  }
}

@keyframes spread-3 {
  0% {
    width: 400px;
    height: 0;
    top: 0;
    left: 0;
  }

  20%, 25% {
    width: 400px;
    height: 0;
    top: 0;
    left: 0;
  }

  45%, 50% {
    width: 50%;
    height: 50%;
    top: 0%;
    left: 0;
  }

  70%, 75% {
    width: calc(100%);
    height: 50%;
    top: 0;
    left: 0;
  }

  95%, 100% {
    width: calc(100%);
    height: 100%;
    top: 0;
    left: 0;
  }
}

@keyframes spread-4 {
  0% {
    width: calc(100% - 400px);
    height: 0;
    top: 0;
    left: 400px;
  }

  20%, 25% {
    width: calc(100% - 400px);
    height: 0;
    top: 0;
    left: 400px;
  }

  45%, 50% {
    width: 50%;
    height: 50%;
    top: 0;
    left: 50%;
  }

  70%, 75% {
    width: 400px;
    height: 50%;
    top: 0;
    left: calc(100%);
  }

  95%, 100% {
    width: 400px;
    height: 100%;
    top: 0;
    left: calc(100%);
  }
}
