.artists {
  margin-top: 64px;
  font-size: 24px;
  line-height: 2em;
  text-align: justify;
  padding: 0 20px;

  .is-tablet &{
    font-size: 20px;
  }

  .is-sp &{
    font-size: 18px;
  }

  a{
    text-decoration: none;
    border-bottom: 1px solid $color-black;

    &:hover{
      border-bottom: 1px solid transparent;
    }

    &:active{
      background-color: $color-key;
      color: $color-key;
    }
  }

  ul {
    margin: 1em 0;
    li {
      display: inline;
      padding-right: 1em;
    }
  }
}
