.map {
  margin-top: 64px;
  position: relative;
  &__gmap {
    height: 600px;
    width: calc(100%);
    .is-sp &{
      height: 480px;
    }
  }

  &__info {
    bottom: 16px;
    font-size: 14px;
    position: absolute;
    right: 16px;
    z-index: 2;
    span {
      background-color: $color-black;
      color: $color-white;
      padding-bottom: 4px;
    }
  }
}

#gmap {
  height: 100%;
  width: 100%;
}

.gmp-info {
  font-size: 14px;
  text-align: center;

  &__title {
    padding: 8px;
    font-size: 14px;
  }

  &__text {
    font-size: 14px;
  }

  &__link {
    background-color: $color-black;
    border-radius: 20px;
    color: $color-white;
    display: inline-block;
    padding: 2px 8px;
    text-decoration: none;
    width: 150px;
  }
}
