.top-cover {
  background: $color-black;
  height: 100vh;
  padding: 20px;
  position: relative;
  width: 100%;
  &__inner {
    background-image: url("/assets/images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 86%;
    position: relative;
    top: 7%

  }
}

