.talk {
  width: 100%;
  margin-bottom: 64px;
  line-height: 2em;

  &__head {
    color: $color-white;
    margin: 1em 0 0 0;
    > span {
      font-weight: bold;

      background: $color-black;
    }
  }

  &__title {
    margin-bottom: 64px;
  }
  &__section {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  &__content {
    p {
      margin-top: 0.3em;
    }
  }

  &__image {
    width: 100%;
    margin: 24px auto;
    line-height: 1.5em;

    &.is-no-border {
      img {
        border: none;
      }

    }

    img {
      vertical-align: bottom;
      width: 100%;
      border: 1px solid #f0f;
    }
  }
}

.normal-box {
  max-width: 640px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  .section-content & {
    padding-right: 0;
    padding-left: 0;
  }

  a {
    text-decoration: underline;
  }
}
