$gritter: 8px;

.l-content {
  margin: 0 auto;
  margin-top: ($gritter*5);
  max-width: 800px;
}

.section-head {
  font-size: 24px;
  margin: 64px 0 24px;
  text-align: center;

  .is-tablet & {
    font-size: 20px;
  }

  .is-sp & {
    font-size: 16px;
  }

  > span {
    //background-color: white;
    border-bottom: 2px solid $color-black;
  }
}

.section-content {
  font-size: 24px;
  line-height: 1.6em;
  padding: 0 20px;

  .is-tablet & {
    font-size: 20px;
  }

  .is-sp & {
    font-size: 16px;
  }

  &.is-center {
    text-align: center;
  }
}
