// font-family
// ===========
$font-family: "Hiragino Sans","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "Helvetica Neue", Helvetica, Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// font-size
// =========
$fs-normal: 13;

// z-index
// =======
$z-index-nav: 10;

// color
// =====
$color-true-black: #000000;
$color-black: #22313F;
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-white: #fff;
$color-lightgray: #D2D7D3;
$color-transparent: rgba(0, 0, 0, 0);
