.c-fancyhover {
  background: #fff;
  padding: 2px;
  color: $color-black;
  &:hover, &.is-mouseover {
    animation: blink 0.7s steps(2) infinite;
  }
}

.c-normalhover {
  color: $color-black;
  padding: 0;
  text-decoration: underline;
  &:hover, &.is-mouseover {
  text-decoration: none;
  }
}

@keyframes blink {
  0% {
    color: $color-white;
  }
  50% {
    color: $color-black;
  }
  100% {
    color: $color-white;
  }
}
