.c-section {
  background: #eee;
  padding-bottom: 2em;
  padding-top: 1em;

  &__title {
    text-align: center;
    padding: 1em 0;
  }

  &__text {
    font-size: 16px;
    line-height: 2em;
  }
}
